<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome user</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        user-select: none;
      }
      body{
        height: 100dvh;
        width: 100dvh;

        > div {
          width: 100%;
          box-sizing: border-box;
          
          > ol {
            list-style-position: inside;
          }

        }
      }
    </style>
	</head>
	<body>
		<div>
			<h3>Welcome user</h3>
      <ol>
        {% if employees  %}
          {% for i in employees %} 
            <li onclick="modify('{{ i.emp_id }}')">{{ i.lastname }} {{i.firstname}}</li>
          {% endfor %}
        {% endif %}
      </ol>
		</div>
	</body>
	<script>
		function modify(id){
      location.href = `edit/${id}`
		}
	</script>
</html>
